@import 'tailwindcss';

@config "../../tailwind.config.ts";

@theme {
  --color-gray-1: #1c1c1d;
  --color-gray-2: #47484a;
  --color-gray-3: #6b6c6f;
  --color-gray-4: #88888a;
  --color-gray-5: #b8b8b8;
  --color-gray-6: #e3e3e4;

  --color-red: #f24822;

  --color-sub: #5f657b;
}

@layer base {
  :root,
  html,
  body {
    @apply h-full;
  }

  body {
    @apply font-brand antialiased transition-colors duration-300;
  }
}

@utility bottom-0-dynamic {
  bottom: env(safe-area-inset-bottom, 0);
}

@utility scrollbar-primary {
  &::-webkit-scrollbar {
    width: thin;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-5);
    border-radius: 0.375rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.375rem;
  }
}

@utility scrollbar-hide {
  /* IE and Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  &::-webkit-scrollbar {
    display: none;
  }
}
