@import 'tailwindcss';

@config "../../tailwind.config.ts";

@layer base {
  html,
  body {
    @apply h-full;
  }

  body {
    @apply font-brand antialiased transition-colors duration-300;
  }
}

@utility bottom-0-dynamic {
  bottom: env(safe-area-inset-bottom, 0);
}

@utility scrollbar-primary {
  &::-webkit-scrollbar {
    width: thin;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-5);
    border-radius: 0.375rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.375rem;
  }
}

@utility scrollbar-hide {
  /* IE and Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  &::-webkit-scrollbar {
    display: none;
  }
}
